<footer class="footer">
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="./assets/imagenes/Logo.jpg" alt="Logo" class="footer-logo-img" />
          <span class="footer-logo-text">Todo para ti</span>
        </div>
        <ul class="footer-links">
          <li><a href="#" class="footer-link">About</a></li>
          <li><a href="#" class="footer-link">Privacy Policy</a></li>
          <li><a href="#" class="footer-link">Licensing</a></li>
          <li><a href="#" class="footer-link">Contact</a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <span>© 2025 <a  class="footer-text-link">TodoParaTi™</a>. Todos los derechos reservados.</span>
      </div>
    </div>
  </footer>
  