<br>
<br>
<br>
<br>
<h2 class="titulo">Productos</h2>

<div class="flex flex-wrap gap-4 justify-center">
    <div class="product-card">
        <a href="/belleza-joyeria">
            <img class="product-img" src="./assets/imagenes/belleza.jpg" alt="Noteworthy technology acquisitions 2021" />
        </a>
        <div class="product-content">
            <a href="/belleza-joyeria">
                <h5 class="product-title">
                    Belleza y Joyeria
                </h5>
            </a>
            <p class="product-description">
                Descubre una exquisita selección de productos para realzar tu belleza y complementar tu estilo con joyería elegante. Desde maquillaje y cuidado de la piel hasta piezas únicas que reflejan tu personalidad.
            </p>
            <a href="/belleza-joyeria" class="product-btn">
                Ver productos
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="product-card">
        <a href="electrodomesticos">
            <img class="product-img" src="./assets/imagenes/electrodomesticos.jpg" alt="Noteworthy technology acquisitions 2021" />
        </a>
        <div class="product-content">
            <a href="/electrodomesticos">
                <h5 class="product-title">
                    Electrodomésticos
                </h5>
            </a>
            <p class="product-description">
                Encuentra los mejores electrodomésticos para tu hogar, desde refrigeradores y lavadoras hasta pequeños aparatos que hacen tu vida más fácil. Innovación, eficiencia y diseño en un solo lugar.
            </p>
            <a href="/electrodomesticos" class="product-btn">
                Ver productos
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="product-card">
        <a href="/instrumentos">
            <img class="product-img" src="./assets/imagenes/instrumentos.jpg" alt="Noteworthy technology acquisitions 2021" />
        </a>
        <div class="product-content">
            <a href="/instrumentos">
                <h5 class="product-title">
                    Instrumentos de Musica
                </h5>
            </a>
            <p class="product-description">
                Explora nuestra colección de instrumentos musicales para todos los niveles. Desde guitarras y pianos hasta baterías y equipos de sonido, encuentra el instrumento perfecto para expresar tu pasión por la música.
            </p>
            <a href="/instrumentos" class="product-btn">
                Ver productos
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="product-card">
        <a href="/mascotas">
            <img class="product-img" src="https://previews.123rf.com/images/alinamd/alinamd2205/alinamd220500028/185473363-concepto-de-accesorios-para-mascotas-alimentos-secos-collares-y-juguetes-de-goma-para-mascotas.jpg" alt="Noteworthy technology acquisitions 2021" />
        </a>
        <div class="product-content">
            <a href="/mascotas">
                <h5 class="product-title">
                    Productos para mascotas
                </h5>
            </a>
            <p class="product-description">
                Todo lo que necesitas para el bienestar de tu mascota en un solo lugar. Alimentos, juguetes, accesorios y productos de higiene para consentir a tu mejor amigo.
            </p>
            <a href="/mascotas" class="product-btn">
                Ver productos
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="product-card">
        <a href="/tecnologia">
            <img class="product-img" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/11/50-regalos-tecnologicos-menos-50-euros.jpg" alt="Noteworthy technology acquisitions 2021" />
        </a>
        <div class="product-content">
            <a href="/tecnologia">
                <h5 class="product-title">
                    Tecnología
                </h5>
            </a>
            <p class="product-description">
                Descubre lo último en tecnología con nuestra selección de dispositivos y accesorios. Desde smartphones y laptops hasta gadgets innovadores que facilitan tu día a día.
            </p>
            <a href="/tecnologia" class="product-btn">
                Ver productos
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="product-card">
        <a href="/utiles-escolares">
            <img class="product-img" src="https://img.freepik.com/fotos-premium/utiles-escolares-sobre-fondo-blanco_771335-20888.jpg" alt="Noteworthy technology acquisitions 2021" />
        </a>
        <div class="product-content">
            <a href="/utiles-escolares">
                <h5 class="product-title">
                    Utiles escolares
                </h5>
            </a>
            <p class="product-description">
                Prepárate para el éxito con nuestra variedad de útiles escolares. Mochilas, cuadernos, bolígrafos y todo lo necesario para el regreso a clases.
            </p>
            <a href="/utiles-escolares" class="product-btn">
                Ver productos
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
</div>
