<div class="container">
    <h2 class="title">Electrodomésticos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td><img [src]="producto.imagen" alt="{{ producto.nombre }}" class="product-image"></td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>${{ producto.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  