<br>
<br>
<br>
<br>
<div class="carousel-container mx-auto mt-10 max-w-full">
  <div id="default-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative h-64 overflow-hidden rounded-lg md:h-96 space-y-5">
      <!-- Slide 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/736x/35/a2/86/35a28657428ba27f9bdc23098110f7e3.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt="Accesorios de tecnología">
      </div>
      <!-- Slide 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="https://media.istockphoto.com/id/489814272/es/foto/anillos-de-oro-plata-y-cadenas.jpg?s=612x612&w=0&k=20&c=UXsPvIHf9LEjFN0WOlx8BwpGAT0ZAusMRE2t_UQiBUE="
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Electrodomésticos"
          alt="Joyeria">

      </div>
      <!-- Slide 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/736x/6e/d5/62/6ed5628884fbe1afcb488c92c8a2bfb1.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Utiles Escolares">
      </div>
      <!-- Slide 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/736x/c7/fa/d0/c7fad01471863e64ec7bb0466de7df93.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Belleza">
      </div>
      <!-- Slide 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/736x/6c/9b/0f/6c9b0fa287c594f4345dac5fadfe2cb2.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Joyeria">
      </div>
      <!-- Slide 6 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/736x/16/0f/42/160f425bedf97a202729166de8fcd06d.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Instrumentos Musicales">
      </div>
      <!-- Slide 7 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="https://i.pinimg.com/736x/bc/a5/f9/bca5f94620fe39d8ad5ceab639eb79cd.jpg"
          class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Accesorios de Mascotas">
      </div>
    </div>

    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full bg-white/50" aria-current="true" aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50" aria-current="false" aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50" aria-current="false" aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50" aria-current="false" aria-label="Slide 4"
        data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white/50" aria-current="false" aria-label="Slide 5"
        data-carousel-slide-to="4"></button>
    </div>

    <button type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/50 group-hover:bg-white/70 group-focus:ring-4 group-focus:ring-white">
        <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>

    <button type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/50 group-hover:bg-white/70 group-focus:ring-4 group-focus:ring-white">
        <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>

<!-- Categorías -->
<section class="my-10 px-5">
  <h2 class="text-3xl font-semibold text-center mb-6">Categorías</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
    <a href="/tecnologia">
      <div
        class="category-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
        <img src="https://www.muycanal.com/wp-content/uploads/2021/03/tienda_tecnologia.jpg" alt="Tecnología"
          class="mx-auto mb-4 h-24 w-24 object-cover">
        <h3 class="text-xl font-semibold">Tecnología</h3>
      </div>
    </a>
    <a href="electrodomesticos">
      <div
        class="category-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
        <img src="https://images.milled.com/2019-02-26/vfcoIU9bDvGeQDi9/OnLEs31q0E6v.gif" alt="Electrodomésticos"
          class="mx-auto mb-4 h-24 w-24 object-cover">
        <h3 class="text-xl font-semibold">Electrodomésticos</h3>
      </div>
    </a>
    <a href="utiles-escolares">
      <div
        class="category-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
        <img src="https://i.gifer.com/GH2C.gif" alt="Utiles Escolares" class="mx-auto mb-4 h-24 w-24 object-cover">
        <h3 class="text-xl font-semibold">Utiles Escolares</h3>
      </div>
    </a>
    <a href="belleza-joyeria">
      <div
        class="category-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqEd3FvpFlnKToFd1fNRJA4aaZkxiJD40HsQ&s"
          alt="Belleza" class="mx-auto mb-4 h-24 w-24 object-cover">
        <h3 class="text-xl font-semibold">Belleza y Joyería</h3>
      </div>
    </a>
    <a href="mascotas">
      <div
        class="category-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
        <img
          src="https://img.freepik.com/vector-gratis/conjunto-plano-varios-accesorios-moda-perros-gatos_74855-15557.jpg"
          alt="Accesorios para mascotas" class="mx-auto mb-4 h-24 w-24 object-cover">
        <h3 class="text-xl font-semibold">Accesorios para mascotas</h3>
      </div>
    </a>
    <a href="instrumentos">
      <div
        class="category-card bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 text-center">
        <img src="https://i.pinimg.com/originals/25/04/10/2504109c1231d2bc9649d0d4791910bc.gif"
          alt="Accesorios para mascotas" class="mx-auto mb-4 h-24 w-24 object-cover">
        <h3 class="text-xl font-semibold">Instrumentos musicales</h3>
      </div>
    </a>
  </div>
</section>

<section class="my-10 px-5 bg-yellow-100 py-8">
  <h2 class="text-3xl font-semibold text-center mb-6">¡Ofertas Especiales!</h2>
  <div class="flex flex-col md:flex-row justify-center items-center gap-8">
    <div class="offer flex flex-col items-center bg-white p-6 rounded-lg shadow-lg w-full md:w-1/2">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOy_hh5ZIEl_3nVjw33Vst8z8vvg4gfpmwe4JfiOdY7jKBeuY30w"
        alt="Oferta 1" class="mb-4 w-full h-60 object-cover rounded-lg">
      <h3 class="text-2xl font-semibold mb-2">Descuento 50% en tecnología</h3>
      <p class="text-gray-700">Compra cualquier producto tecnológico y obtén un 50% de descuento en tu próxima compra.
      </p>
      <button class="mt-4 py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">Ver
        ofertas</button>
    </div>
    <div class="offer flex flex-col items-center bg-white p-6 rounded-lg shadow-lg w-full md:w-1/2">
      <img src="https://image.freepik.com/free-vector/30-sale-banner-template_23-2148551060.jpg" alt="Oferta 2"
        class="mb-4 w-full h-60 object-cover rounded-lg">
      <h3 class="text-2xl font-semibold mb-2">Descuento 20% en belleza</h3>
      <p class="text-gray-700">Obtén un descuento exclusivo en productos de belleza y cuidado personal.</p>
      <button class="mt-4 py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">Ver
        ofertas</button>
    </div>
  </div>
</section>