<nav class="navbar">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto">
        <a href="/home" class="logo">
            <img src="./assets/imagenes/Logo.jpg" class="h-12 rounded-full shadow-md" alt="Logo" />
            <span class="text-2xl font-bold text-white">Todo para ti</span>
        </a>
        
        <div class="menu">
            <a href="/home" class="menu-item">Home</a>
            <div class="menu-item dropdown">
                <a href="/productos" class="dropdown-toggle">Productos</a>
                <div class="dropdown-menu">
                    <a href="/belleza-joyeria">Belleza y Joyería</a>
                    <a href="/electrodomesticos">Electrodomésticos</a>
                    <a href="/instrumentos">Instrumentos Musicales</a>
                    <a href="/mascotas">Productos para Mascotas</a>
                    <a href="/tecnologia">Artículos Tecnológicos</a>
                    <a href="/utiles-escolares">Útiles Escolares</a>
                </div>
            </div>
            <a href="/nosotros" class="menu-item">Nosotros</a>
            <a href="/contactos" class="menu-item">Contactos</a>
            <a href="/formulario" class="menu-item">Formulario</a>
        </div>
    </div>
</nav>
