.carousel-container {
    background-color: #f8f9fa; /* Fondo claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
  }

  #default-carousel {
    max-width: 100%; /* Asegura que no se desborde */
    position: relative;
  }

  .carousel-wrapper {
    border-radius: 100px; /* Bordes redondeados para las imágenes */
  }

  .carousel-control {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo translúcido */
    border-radius: 50%; /* Hacer los controles redondeados */
  }

  .carousel-indicator {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s;
  }

  .carousel-indicator:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .carousel-container .carousel-wrapper {
    margin-bottom: 10px; /* Separación entre los items del carrusel */
  }

  .carousel-indicator:last-child {
    margin-right: 0; /* El último indicador no tendrá margen derecho */
  }

  /* Agregar espacio entre las imágenes del carrusel */
  .carousel-wrapper .carousel-item {
    margin-bottom: 10px;
  }
  
  .titulo{
    text-align: center;
    margin-top: 100px;
    background-color: #D5ED9F;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
  }